/**{
	outline: 1px solid blue;
}

body{
	background-image: url(../img/Imagen1.jpg);
	background-size: cover;
}
body{
	background: -webkit-linear-gradient(bottom, black, white);
	background: -webkit-linear-gradient(top, black, white);
}*/
#body{
	background: -webkit-linear-gradient(top,black,white);
}
.degradado{
	background: url(../img/portada.jpg) center center;
	background-size: cover;
	background-attachment: fixed;
	height: 1800px;
}

.hero{
	margin: 50px 0 500px;
}
.imagen-2{
	position: relative;
}
.button{
	padding: 40px 120px;
	text-align: center;
	font-size: 40px;
	border-radius: 10px;
	margin: 800px auto;
}
button a{
	color: white;
	text-decoration: none;
}
#boton1{
	background-color: rgba(9, 10, 10, 0.27);
	border-bottom: 5px solid white;
	border-top: 4px solid white;
	float: right;
}
#boton2{
	background: -webkit-linear-gradient(left,#8e00bf,#e300bf);
	/*background: -moz-linear-gradient(bottom left, red, rgba(160 , 31, 150, 0.97));*/
	border: 5px solid rgb(172, 32, 166);
}
/*  segunda pagina-----*/
.icon{ 
	margin: 25px auto;
	font-size: 30px;
	color: black;
}
body #codigo{
	position: absolute;
	z-index: 2000;
	padding: 12px 8px;
}
#input{
	padding: 22px 35px;
}
#caja-rosada{
	background-color: rgb(248, 69, 186);
	padding: 25px 0;
	margin: 300px auto;
	width: 100%;
	border-radius: none;
	border: none;
	h
}
#caja-rosada a{
	color: white;
	font-size: 50px;
}
/*------sing up ---*/
/*-----select country-------*/
.close{
	margin: 25px auto;
}
.close a{
	color: ;
	font-size: 30px;
	color: black;
}
.countris{
	background-color: rgb(213, 215, 216);
	padding: 30px 10px;
}
.lista{
	list-style: none;
}
.lista li{
	padding: 20px 0;
	border-bottom: 1px solid darkgray;
	
}
/*-----pagina de los datos------*/
.texto input{
	padding-left: 30px;
}
/*-----common------*/
.icono{
	position: relative;
	top: 25px;
	left: 10px;
}